<IfModule mod_rewrite.c>
#  RewriteEngine On
#  RewriteCond $1 !^(index.php|css|js|images|robots.txt) 
#  RewriteBase /
#
#  RewriteCond %{REQUEST_URI} ^system.*
#  RewriteRule ^(.*)$ /index.php?/$1 [NC,L,QSA]
# 
#  RewriteCond %{REQUEST_URI} ^application.*
#  RewriteRule ^(.*)$ /index.php?/$1 [NC,L,QSA]
# 
#  RewriteCond %{REQUEST_FILENAME} !-f
#  RewriteCond %{REQUEST_FILENAME} !-d
#  RewriteRule ^(.*)$ /TestStarPanelV3/index.php?/$1 [NC,L,QSA]
#
#  AddDefaultCharset UTF-8
RewriteEngine on 
RewriteCond $1 !^(index.php|html|css|js|scss|images|img|pdf|json|fonts|assets|logs|robots.txt) 
RewriteRule ^(.*)$ /LOCAL_WEB/PasarelaWeb/index.php/$1 [L]

</IfModule>
